---
import Layout from "../layouts/Layout.astro";
import ShopList from "../components/ShopList.astro";
import Filter from "../components/filter-sort-bar/filter.astro";
import Sort from "../components/filter-sort-bar/sort.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container my-12">
      <div class="flex justify-between border-b pb-4 mb-7">
        <Filter />
        <Sort />
      </div>
      <ShopList />
    </div>
  </main>
</Layout>
