---
import SearchBar from "./SearchBar";
import HeroImage from "./HeroImage.astro";
import mobileHeroImg from "../img/hero/hero-coffee-mobile.jpg";
import desktopHeroImg from "../img/hero/hero-coffee-desktop.jpg";
---

<section>
  <HeroImage
    mobileImgUrl={mobileHeroImg}
    desktopImgUrl={desktopHeroImg}
    alt="A cup of coffee surrounded by coffee beans"
    className="hero-image"
  >
    <div class="absolute inset-0 flex items-center justify-center">
      <SearchBar client:load />
    </div>
  </HeroImage>
</section>
