<div class="flex items-center gap-4">
  <h1>Sort by:</h1>
  <select class="select">
    <option value="name">Name</option>
    <option value="town">Town</option>
    <option value="rating">Rating</option>
  </select>
</div>
